*{
    margin: 20px;
    padding: 20px;
}
header
{
    text-align: center;
}
.dropdown
{
    position: relative;
    display: inline-block;
}
.button
{
    padding: 10px 40px;
    font-size: 20px;
}
#drop-content
{
    position: relative;
    z-index: 1;
}
#drop-content a
{
    display: block;
    font-size: 10 px;
    background: lightgray;
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    margin-top: 2px;
}